.coolDownListContainer {
    background-color: rgb(255, 255, 255);
    max-width: 70%;
    min-width: fit-content;
    min-height: fit-content;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    padding: 1em;
    border-radius: 5px;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/*Table Animation*/
@keyframes fade-in {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
  