.cooldownViewContainer {
    background-color: var(--white);
    color: black;
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    border-radius: 7px;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 .takeTime {
    background-color: var(--grey);
    color: white;
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
    padding: 1em;
}

.cooldownViewContainer > .vidContainer {
    width: 70%;
    height: 25em;
}

.vidContainer > iframe {
    border-radius: 5px;
    height: 100%;
    box-shadow: 2px 2px 5px 5px var(--grey);
}