/*Animation*/
@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
.header {
    background-color: rgba(61, 60, 60, 0.685);
    width: 100%;
    height: fit-content;
    padding: 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0.15em 0.15em 0.15em 0.15em rgb(83, 75, 75);
    animation: 0.5s ease-in-out 0s 1 slideInFromTop;
}

.optionsContainer > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 1em;
    align-items: center;
    height: fit-content;
}

.optionsContainer > ul > li {
    margin-right: 1em;
    height: fit-content;
}

.linkStyle {
    font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.linkStyle:hover {
  color: var(--blue);
}

