.tableContainer {
    font-family: var(--fredoka);
    padding: 0 2em;
    font-size: large;
}

.tableContainer > table {
    margin: 0 auto;
    width: 100%;
}


.tableHead {
    font-weight: 800;
    border-bottom: 1px solid var(--grey);
    width: fit-content;
}

.names {
    text-decoration: none;
    background-color: inherit;
    border: none;
    cursor: pointer;
    float: left;
    padding: 0;
    font-size: large;
}


.tableData > td {
    border-bottom: 2px solid black;
}

.tableData:hover {
    background-color: rgb(235, 235, 235);
}
