.MuiCardMedia-img {
    opacity: 0.8;
}

.MuiCardMedia-img:hover {
    opacity: 1;
}

.MuiCardMedia-root {
    border-top: 5px solid rgb(6, 154, 223);
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
    margin: 1em 5em;
}

