:root {
  --blue: #069ADF;
  --white: rgba(255, 255, 255, 0.555);
}


.landingContainer {
    width: 100%;
    height: 50rem;
    background-image: url(../../../public/assets/banner/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.showContainer {
  margin-left: 1em;
    color: white;
    font-size: 25pt;
    font-weight: 600;
    position: absolute;
    width: 50%;
    padding: 0.25em;
    border-radius: 5px;
}

.showContainer > h1 {
    animation: puff-in-left 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s both;
}

.showContainer *:not(h1, a) {
    animation: puff-in-left 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1.5s both;

}


/*Gradient background*/
.gradientContainer {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgba(255, 255, 255, 0));
}

/*links style*/
a {
    text-decoration: none;
    color: var(--blue);
    cursor: pointer;
}

/*Arrow*/
.arrowIcon {
    display: block;
    position: relative;
    left: 20%;
    width: fit-content;
    animation: bounce-top 0.5s 3s infinite alternate-reverse forwards;
}

/*Arrow Animation*/
@keyframes bounce-top {
    0% {
              transform: translateY(-20px);
              animation-timing-function: ease-in;
      opacity: 1;
    }
    65% {
              transform: translateY(-12px);
              animation-timing-function: ease-in;
    }
    93% {
              transform: translateY(-4px);
              animation-timing-function: ease-in;
    }
    100% {
              transform: translateY(0px);
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  
  /*Animation show container entrance*/
  @keyframes scale-in-top {
    0% {
              transform: scale(0);
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
              transform: scale(1);
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }

  /*Banner Animation*/
  @keyframes puff-in-left {
    0% {
              transform: scale(2);
              transform-origin: 0% 50%;
              filter: blur(4px);
      opacity: 0;
    }
    100% {
              transform: scale(1);
              transform-origin: 0% 50%;
              filter: blur(0px);
      opacity: 1;
    }
  }
 

  /*Section Personal Animation*/
@keyframes scale-in-hor-center {
  0% {
            transform: scaleX(0);
            opacity: 1;
  }
  100% {
            transform: scaleX(1);
            opacity: 1;
  }
}

      
 /*Cards Container*/ 
.cardsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0;
        padding: 5em 0;
        background-image: linear-gradient(to bottom, rgb(136, 136, 136) , rgb(0, 0, 0));
        }


/*Active Class*/
.showCard > aside * {
  animation: scale-in-hor-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Quote Section*/
.quoteContainer {
        background-image: linear-gradient(to bottom, rgb(0, 0, 0) , rgb(136, 136, 136));
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1em;
        padding-top: 5em;
}

/*Quote Section (Image)*/
.personalImg {
        width: fit-content;
        height: fit-content;
        border-radius: 5px;
        padding: 0;
        filter: grayscale(50%);
}

.personalImg:hover {
  filter: grayscale(0);
  box-shadow: 2px 2px 5px 5px rgb(119, 119, 119);
}


/*Quote Section (Words)*/
.quoteDetails {
        width: 30%;
        font-size: larger;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
}

.quoteDetails > aside {
        padding-left: 1em;
        font-size: x-large;
        border-left: 4px solid var(--blue);
}

#testimonials {
  padding-top: 1em ;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0) , rgb(136, 136, 136));
}

.ratesContainer {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url(../../../public/assets/testimonial/dumbells.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(50%);
  filter: blur(1);
}

.gradientOverlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0) , rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

.arrowT {
  color: var(--blue);
  flex: 1;
}

.testDetails {
  flex: 4;
}
