.dayPlanCont {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey);
    width: fit-content;
    border-radius: 5px;
    margin: 0.5em;
}

.dayPlanCont > h4 {
    color: black;
    margin: 0;
}

.daysPlan {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.progController > .MuiFormControlLabel-root {
    width: fit-content;
}