.cycleForm {
    margin: 0.3em auto;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    padding: 0.25em;
    min-height: 1em;
    min-width: 1em;
}

@media screen and (max-width: 1300px) {
    .cycleForm {
      width: 100%;
    }

    .cycleForm * {
        width: 100%;
        font-size: 8pt;
    }
  }

  .cycleForm > h5 {
    margin: 0.25em;
    background-color: green;
    border-radius: 5px;
  }

  .cycleNotes {
    width: 75%;
    height: fit-content;
    text-align: left;
    padding-top: 0.25em;
  }