.progCreate {
    background-color: white;
    width: 95%;
    height: 100%;
    max-height: fit-content;
}

.progCreate > h1 {
    font-size: larger;
    background-color: black;
    margin: 0;
    padding-top: 0.25em;
}

.weekContainer {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
}

.weekContainer > h3 {
    text-align: left;
    padding-left: 1em;
    margin: 0;
}

.daysContainer {
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

@media screen and (max-width: 1300px) {
    .daysContainer {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
    
.dayCont {
    border: 1px solid black;
    width: 13%;
    max-width: 20%;
    height: fit-content;
    background-color: white;
    padding: 0.25em;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
}

.dayCont > h4 {
    margin: 0;
}


.progController {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.weekBtn {
    border: none;
    background-color: transparent;
    font-size: larger;
    cursor: pointer;
}

.weekBtn:hover {
    color: var(--blue);
}

.add-removeBtn {
    display: flex;
    flex-direction: row;
}

.add-removeBtn > button {
    border: none;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    font-size: larger;
}

.add-removeBtn > button:hover {
    color: var(--blue);
    border-color: var(--blue);
}
