.dayTitles {
    font-weight: bolder;
    font-size: larger;
    color: rgb(0, 0, 0);
    margin-right: 0.5em;
}

.dayDetails {
    cursor: pointer;
    font-weight: bold;
}

.dayDetails:hover {
    color: var(--blue);
    text-decoration: underline;
}

.dayContainer {
    font-size: large;
    color: black;
    width: 40%;
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    margin-top: 0.75em;
    padding: 1em;
    box-shadow: 1px 1px 1.5px 1.5px grey;
}

.modalDiv {
    position: absolute;
    top: 18em;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: white;
    border: 2px solid #000;
    padding: 0;

}


.modalDiv > h1 {
    background-color: black;
    color: white;
    margin: 0;
    width: 100%;
    text-align: center;
}

.usersCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    padding-bottom: 0;
}

.usersCont > .MuiAutocomplete-root {
    width: 50%;
}

.assignSubmtBtn {
    margin: 1em;
}

.userAssignErr {
    text-align: center;
    font-size: larger;
}

.cycleFormView {
    margin: 0.3em auto;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    padding: 0.25em;
    min-width: 75%;
}

.cycleFormView > div > h5 {
    margin: 0;
    font-size: large;
}

.previewBtn {
    margin: 0;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.previewBtn:hover {
    color: var(--blue);
}

.previewDiv > div {
    margin: 2em;
    height: 25em;
}

.previewDiv {
    text-align: center;
    top: 50%;
}