.userHomeContainer {
    margin: 5em auto;
    background-color: white;
    width: 90%;
    border-radius: 5px;
    height: 80%;
    padding-bottom: 2em;
}

.userHomeContainer > h1 {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
}

.cycleCont, .userMSCont {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 2em auto;
    align-items: center;
    justify-content: center;
    border: 1px solid Black;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

.titleSpan {
    text-decoration: underline;
    font-size: large;
}

.homeWO {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.5em;
}

.homeWO:hover {
    background-color: rgb(220, 220, 220);
}

.viewMS {
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    max-height: 4em;
}

.smallInput {
    width: 3em;
}

.userAnswer {
    font-weight: bold;
    background-color: rgb(210, 210, 210);
    padding: 0.75em;
    border-radius: 5px;
    border: 1px solid var(--grey);
}

.npInputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.npInputs > input {
    margin: 0.25em;
    width: 5em;
}