.container {
  box-sizing: border-box;
  align-items: center;
  width: inherit;
}

.submitBtn {
    background-color: black;
    color: white;
    font-size: large;
    font-weight: 800;
    padding: 1em 1.5em; 
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
    margin: 0;
}
.submitBtn:hover {
  background-color: var(--blue);
  color: black;
  box-shadow: 2px 2px 4px 4px var(--grey);
}

.errMessage {
  color: black;
  margin: '0.25em';
  font-weight: bold;
  background-color: red;
  animation: fade-in-bottom 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}