.metricSetInput {
    border-radius: 5px;
    font-size: larger;
    padding: 0.25em;
    text-align: center;
    box-shadow: 1px 1px 1.5px 1.5px grey;
}

.metricSetForm > h3 {
    float: left;
    color: black;
    text-decoration: underline;
    margin: 1em;
}

.metricSetForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metricSetForm > .metricSetInput {
    width: 50%;
}

.metricsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    font-size: large;
}

.metricsContainer > input {
    width: 50%;
}